<script setup lang="ts">

</script>

<template>
	<div class="tabs">
		<div class="tab">
			<span>Д</span>
		</div>
	</div>
</template>

<style scoped lang="scss">
.tabs {
	.tab {
		position: relative;
		box-sizing: border-box;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		font-size: 18px;
		line-height: 26px;
		font-weight: 500;
		color: rgb(102, 150, 255);
		cursor: pointer;
		background: rgba(102, 150, 255, 0.4);

		&:after {
			content: "";
			position: absolute;
			border: 2px solid #1f1f1f;
			border-radius: 14px;
			left: -4px;
			top: -4px;
			bottom: -4px;
			right: -4px;
		}

		&:hover {
			&::after {
				border: 2px solid rgba(0,0,0,.12);
			}
		}

		span {
			font-weight: 700;
			font-size: 12px;
			line-height: 12px;
			color: #66570c;
		}

		&.active {
			color: rgb(102, 150, 255);
			background: rgba(102, 150, 255, 0.4);
		}
	}
}
</style>
