<script setup lang="ts">
import BaseForm from "@/components/ui/base-form/BaseForm.vue";
import BaseFormRow from "@/components/ui/base-form/BaseFormRow.vue";
import ActionPanel from "@/components/ui/base-sidebar/ActionPanel.vue";
import BaseSidebar from "@/components/ui/base-sidebar/BaseSidebar.vue";
import BaseButton from "@/components/ui/buttons/BaseButton.vue";
import BaseHeading from "@/components/ui/heading/BaseHeading.vue";
import BaseInput from "@/components/ui/input/BaseInput.vue";
import {IUser} from "@/modules/users/services";

type Data = Partial<IUser>;

interface IProps {
	isOpen: boolean;
	data: Data | undefined;
}

interface IEmits {
	(e: "close"): void;
}

const props = defineProps<IProps>();
const emits = defineEmits<IEmits>();

const closeSidebar = () => {
	emits("close");
};
</script>

<template>
	<BaseSidebar :is-open="isOpen">
		<template #header>
			<BaseHeading>Редактирование пользователя #{{ data?.id }}</BaseHeading>
		</template>
		<template #default>
			<BaseForm>
				<BaseFormRow>
					<BaseInput
						label="Name"
						:value="data?.name"
						name="name"
					/>
				</BaseFormRow>
				<BaseFormRow>
					<BaseInput
						label="Email"
						:value="data?.email"
						name="email"
					/>
				</BaseFormRow>
				<BaseFormRow>
					<BaseInput
						label="Phone"
						:value="data?.phone"
						name="phone"
						disabled
					/>
				</BaseFormRow>
			</BaseForm>
			<ActionPanel>
				<BaseButton
					type="secondary"
					@click="closeSidebar"
				>
					Отменить
				</BaseButton>
				<BaseButton
					type="primary"
					@click="closeSidebar"
				>
					Сохранить
				</BaseButton>
			</ActionPanel>
		</template>
	</BaseSidebar>
</template>
