<script setup lang="ts">
interface IColumnsTable {
	id: string;
	name: string;
}

export interface IDataTable {
	[key: string]: string | number;
}

export type PartialData = Partial<IDataTable>;

interface IProps {
	columns: IColumnsTable[];
	data: PartialData[];
	loading?: boolean;
}

const props = defineProps<IProps>();
</script>

<template>
	<table class="table">
		<thead>
			<tr>
				<th
					v-for="(column, columnKey) in columns"
					:key="columnKey"
				>
					{{ column.name }}
				</th>
			</tr>
		</thead>
		<tbody>
			<template v-if="!loading && data.length > 0">
				<tr
					v-for="(row, rowKey) in data"
					:key="rowKey"
					class="table__row"
				>
					<td
						v-for="(column, columnKey) in columns"
						:key="columnKey"
					>
						<slot
							:name="column.id"
							:row="row"
						/>
					</td>
				</tr>
			</template>
			<template v-if="loading && data.length > 0">
				<tr>
					<td
						v-for="(column, columnKey) in columns"
						:key="columnKey"
					>
						<div class="skeleton-row" />
					</td>
				</tr>
			</template>
			<template v-if="!loading && data.length === 0">
				<tr>
					<td :rowspan="columns.length">
						<div class="not-found">
							Нет данных
						</div>
					</td>
				</tr>
			</template>
		</tbody>
	</table>
</template>

<style scoped lang="scss">
.table {
	overflow: hidden;
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	thead tr {
		font-weight: 500;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		background: rgba(0,0,0,.03);
	}

	th, td {
		padding: 16px;
	}

	tr {
		& + tr {
			border-top: 1px solid rgba(0,0,0,.12);
		}
	}

	tbody tr {
		&:hover {
			background: rgba(0,0,0,.03);
		}
	}
}

.skeleton-row {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background: rgba(0,0,0,.03);
}

.not-found {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #999;
}
</style>
