<template>
	<Teleport to="body">
		<EditUserSidebar
			:is-open="openSidebar"
			:data="user"
			@close="closeEditUserSidebar"
		/>
	</Teleport>
	<div class="projects">
		<PageHeader>
			<BaseHeading>Пользователи</BaseHeading>
		</PageHeader>
		<BaseTable
			:columns="tableColumns"
			:data="normalizeData"
			:is-loading="loading"
		>
			<template #id="{row}">
				<div @click="editUser(row.id as number)">
					<BaseLink href="#">
						{{ row.id }}
					</BaseLink>
				</div>
			</template>
			<template #name="{row}">
				{{ row.name }}
			</template>
			<template #email="{row}">
				{{ row.email }}
			</template>
			<template #address="{row}">
				{{ row.address }}
			</template>
		</BaseTable>
	</div>
</template>

<script setup lang="ts">
import {computed, onMounted, ref} from "vue";
import PageHeader from "@/components/PageHeader.vue";
import BaseLink from "@/components/ui/base-link/BaseLink.vue";
import BaseHeading from "@/components/ui/heading/BaseHeading.vue";
import BaseTable, { IDataTable } from "@/components/ui/table/BaseTable.vue";
import EditUserSidebar from "@/modules/users/components/sidebars/EditUserSidebar.vue";
import {IUser} from "@/modules/users/services";
import {useUsers} from "@/modules/users/use/useUsers.ts";

const { users, loading, fetchUsers, getUserById } = useUsers();

const openSidebar = ref(false);
const user = ref<IUser | undefined>();

const tableColumns = [
	{
		id: "id",
		name: "ID",
	},
	{
		id: "name",
		name: "Name",
	},
	{
		id: "email",
		name: "Email",
	},
	{
		id: "address",
		name: "Address",
	},
];

const normalizeData = computed<IDataTable[]>(() => {
	return users.value.map((user) => {
		return (
			{
				id: user.id,
				name: user.name,
				email: user.email,
				address: user.address.street,
			}
		);
	}) || [];
});

onMounted(async () => {
	await fetchUsers();
});

const editUser = (id: number) => {
	user.value = getUserById(id);
	openSidebar.value = true;
};

const closeEditUserSidebar = () => {
	openSidebar.value = false;
};
</script>

<style scoped lang="scss">
.projects {
	padding: 20px;
	flex: 1;
	height: 100vh;
	overflow: auto;
	scrollbar-width: none;
}
</style>
