<script setup lang="ts">

</script>

<template>
	<div class="heading">
		<slot />
	</div>
</template>

<style scoped lang="scss">
.heading {
	font-size: 24px;
	line-height: 40px;
	letter-spacing: -0.03em;
	color: #1f1f1f;
}
</style>
