<script setup lang="ts">
const menu = [
	{ name: "Главная", url: "/" },
	{ name: "Пользователи", url: "/users" },
];
</script>

<template>
	<div class="menu">
		<ul class="nav-list">
			<li
				v-for="(item, itemKey) in menu"
				:key="itemKey"
				class="nav-list__item"
			>
				<router-link
					:to="item.url"
					class="nav-list__link"
				>
					{{ item.name }}
				</router-link>
			</li>
		</ul>
	</div>
</template>

<style scoped lang="scss">
.menu {
	padding: 20px 22px;
	width: 284px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid rgba(0,0,0,.12);
	height: 100vh;
}

.nav-list {
	display: flex;
	flex-direction: column;
	gap: 12px;

	&__item {
		cursor: pointer;
		display: flex;
		align-items: center;
		border-radius: 12px;
	}

	&__link {
		width: 100%;
		padding: 12px;
		font-size: 14px;
		text-decoration: none;
		color: #1f1f1f;

		&:hover {
			background: rgba(0,0,0,.04);
			border-radius: 12px;
		}

		&.router-link-active {
			color: #0050ff;
			border-radius: 12px;
			background: rgba(0,0,0,.04);
		}
	}
}
</style>
