<script setup lang="ts">
interface IProps {
	href?: string;
	to?: string;
}

const props = defineProps<IProps>();
</script>

<template>
	<a
		v-if="href"
		:href="href"
		class="link"
	><slot /></a>
	<router-link
		v-if="to"
		:to="to"
		class="link"
	>
		<slot />
	</router-link>
</template>

<style scoped lang="scss">
.link {
	color: #0050ff;
}
</style>
