<script setup lang="ts">

</script>

<template>
	<div class="action-panel">
		<slot />
	</div>
</template>

<style scoped lang="scss">
.action-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 12px;
  padding: 20px 22px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background: #ffffff;
}
</style>
