<script setup lang="ts">
interface IProps {
	isOpen: boolean;
}

const props = defineProps<IProps>();
</script>

<template>
	<div
		v-show="isOpen"
		class="sidebar"
	>
		<div class="sidebar-inner">
			<div class="sidebar-header">
				<slot name="header">
					Заголовок
				</slot>
			</div>
			<div class="sidebar-body">
				<slot>Тело</slot>
			</div>
		</div>
	</div>
</template>

<style scoped lang="scss">
.sidebar {
	position: fixed;
  overflow: hidden;
	top: 0;
	right: 0;
	height: 100%;
	padding: 20px 22px;
	z-index: 1;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	box-shadow: 0 2px 4px rgba(0,0,0,.04), 0 40px 24px rgba(0,0,0,.08), 0 16px 20px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
	background: #ffffff;

	&-inner {
		width: 480px;
	}

	&-header {
		padding-bottom: 40px;
	}
}
</style>
