<script setup lang="ts">
import BaseTabs from "@/components/ui/base-tabs/BaseTabs.vue";
import BaseButton from "@/components/ui/buttons/BaseButton.vue";
</script>

<template>
	<div class="sidebar">
		<div class="sidebar-inner">
			<div class="personal">
				<BaseTabs />
			</div>
			<div>
				<BaseButton type="third">
					<span
						role="img"
						aria-hidden="true"
						class="icon icon-plus"
					>
						<svg
							width="100%"
							height="100%"
							viewBox="0 0 16 16"
							fill="currentColor"
							xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M8 2.25a.75.75 0 01.75.75v4.25H13a.75.75 0 010 1.5H8.75V13a.75.75 0 01-1.5 0V8.75H3a.75.75 0 010-1.5h4.25V3A.75.75 0 018 2.25z"
							fill="currentColor"
						/></svg>
					</span>
				</BaseButton>
			</div>
		</div>
	</div>
</template>

<style scoped lang="scss">
.sidebar {
	display: flex;
	justify-content: center;
	height: 100vh;
	border-right: 1px solid rgba(0,0,0,.12);

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 24px 20px;
		gap: 12px;

		.personal {
			position: relative;
			margin-bottom: 20px;

			&::after {
				content: "";
				height: 1px;
				left: 8px;
				width: 16px;
				bottom: -16px;
				position: absolute;
				background: rgba(0,0,0,.12);
			}
		}
	}
}

.icon {
	&-plus {
		width: 16px;
		height: 16px;
	}
}
</style>
