<script setup lang="ts">
import {computed, ref} from "vue";
import useClickOutside from "@/utils/useClickOutside.ts";

interface IProps {
	value: string | undefined;
	label?: string;
	disabled?: boolean;
}

interface IEmits {
	(e: "update:value", value: string): void;
}

const props = defineProps<IProps>();
const emits = defineEmits<IEmits>();
const input = ref();
const isFocused = ref(false);

const inputClass = computed(() => {
	return {
		"input": true,
		"focused": isFocused.value,
		"change": props.value?.length > 0,
		"disabled": props.disabled,
	};
});

useClickOutside(input, () => {
	isFocused.value = false;
});

const onInput = (e: Event) => {
	emits("update:value", (e.target as HTMLInputElement).value);
};

const onFocusInput = () => {
	input.value.focus();
	isFocused.value = true;
};
</script>

<template>
	<div :class="inputClass">
		<div
			v-if="label"
			class="input-label"
		>
			{{ label }}
		</div>
		<input
			ref="input"
			type="text"
			autocomplete="off"
			:value="value"
			:disabled="disabled"
			@input="onInput"
			@focus="onFocusInput"
		>
	</div>
</template>

<style scoped lang="scss">
.input {
	position: relative;

	&.focused:not(.disabled) {
		input {
      color: #1f1f1f;
      background: #fff;
      box-shadow: 0 0 0 4px rgba(0,0,0,.04);
		}
	}

	&.change:not(.disabled) {
    input {
      color: #1f1f1f;
    }
	}

	&.disabled {
		input {
      background: #fff;
      border-color: #e0e0e0;
      color: #c2c2c2;
      cursor: not-allowed;
		}
	}

	&-label {
    color: #1f1f1f;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.14px;
	}

  &:hover:not(.disabled, .focused) {
    input {
      background: #f5f5f5;
		}
  }

	input {
    height: 40px;
    padding: 12px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    background: #fff;
    color: #999;
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #f5f5f5;
	}
}
</style>
