<script setup lang="ts">
import {computed} from "vue";

type Type = "primary" | "secondary" | "third" | "ghost";
type NativeType = "button" | "submit";

interface IProps {
	type: Type;
	nativeType?: NativeType;
}

const props = withDefaults(defineProps<IProps>(), {
	type: "primary",
	nativeType: "button",
});

const classes = computed(() => {
	return {
		"button": true,
		[props.type]: true,
	};
});
</script>

<template>
	<button
		:type="nativeType"
		:class="classes"
	>
		<slot />
	</button>
</template>

<style scoped lang="scss">
.button {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	background: transparent;
	color: rgba(0,0,0,.56);
	border-radius: 10px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -0.01em;

  &.primary {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 12px;
    background: #0050ff;

    &:hover {
      background: #183fc4;
    }
  }

  &.secondary {
    color: rgba(0,0,0,.56);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 12px;
    border: 1px solid rgba(0,0,0,.04);

    &:hover {
      border-color: rgba(0,0,0,.06);
      color: #1f1f1f;
    }
  }

  &.third {
    padding: 8px;
    background: rgba(0,0,0,.04);

    &:hover {
      background: rgba(0,0,0,.09);
      color: rgba(0,0,0, 1);
    }
  }

  &.ghost {}
}
</style>
