<template>
	<AppLayout>
		<LayoutSidebar />
		<SidebarNav />
		<LayoutMain>
			<router-view />
		</LayoutMain>
	</AppLayout>
</template>

<script setup>
import AppLayout from "@/components/AppLayout.vue";
import LayoutMain from "@/components/LayoutMain.vue";
import LayoutSidebar from "@/components/LayoutSidebar.vue";
import SidebarNav from "@/components/sidebar-nav/SidebarNav.vue";
</script>
